@font-face {
    font-family: "Proxima Nova Regular";
    src: url("../fonts/Proxima Nova Regular.ttf");
}

@font-face {
    font-family: "Proxima Nova Extrabold";
    src: url("../fonts/Proxima Nova Extrabold.ttf");
}

@font-face {
    font-family: "Proxima Nova Light";
    src: url("../fonts/Proxima Nova Light.ttf");
}

@font-face {
    font-family: "Proxima Nova Semibold";
    src: url("../fonts/Proxima Nova Semibold.ttf");
}

:root {
    /* Primaire kleuren */
    --oranje: hsl(33, 100%, 56%);
    --bruin: hsl(9, 58%, 26%);
    --wit: hsl(0, 0%, 100%);
    --gebroken-wit: hsl(33, 56%, 94%);
    --lichtblauw: hsl(201, 100%, 95%);
    --blauw: hsl(205, 69%, 51%);

    /* Secundaire kleuren */
    --donkergrijs: hsl(0, 0%, 20%);
    --lichtgrijs: hsl(0, 0%, 60%);
    --felblauw: hsl(199, 79%, 66%);
    --lichtroze: hsl(354, 83%, 95%);
    --lichtgroen: hsl(95, 51%, 93%);
    --roze: hsl(354, 62%, 66%);
    --groen: hsl(152, 28%, 49%);
    --rood: hsl(4, 67%, 47%);

    /* Lettertype */
    --font: "Proxima Nova Regular";
    --font-bold: "Proxima Nova Semibold";
    --font-extra-bold: "Proxima Nova Extrabold";
    --font-light: "Proxima Nova Light";

    /* Spacing & DRY waardes */
    --d-space: 15px;
    --xs-space: 4px;
}

body {
    margin: 0;
    width: 100dvw;
}

hr {
    border: 0.5px solid #e6e6e6;
    width: 100%;
}

h1,
h2 {
    margin: 0;
    font-family: var(--font-bold);
}