body {
    font-family: var(--font);
    font-size: small;
}

/* Navigatie */
nav {
    background-color: var(--oranje);
    height: 55px;
    padding-left: 4px;
    padding-right: 4px;
    color: var(--wit);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .mobile-nav-icoon {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 100px;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .nav-rechts {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    a {
        color: var(--wit);
        text-decoration: none;
    }
}

.desktop-nav {
    display: none;
}

@media (width >=767px) {
    .mobile-nav {
        display: none;
    }

    .desktop-nav {
        display: flex;
        justify-content: space-between;
        gap: 60px;
        padding-left: 4px;
        padding-right: 4px;

        .desktop-nav-link {
            display: flex;
            align-items: center;
            gap: 15px;
            font-size: medium;

        }

        /* fix vinden */
        .nav-rechts {
            margin-right: 20px;
        }
    }
}

/* Details */
.details {
    img {
        width: 100%;
    }

    h1 {
        font-weight: 1000;
    }

    span {
        color: var(--donkergrijs);
    }

    a {
        color: var(--blauw);
        text-decoration: none;
    }
}